
.tama-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
    
    
}

.tama-img img {
    height: 280px;
    width: auto;
    margin: 0px auto;
    background-repeat: no repeat;
    animation: pulse 2s infinite;
    
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.75);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}


#heading {
    font-family: 'VT323', monospace; 
    font-size: 25px;
    text-align: center;
    color: white;
}

#pet-name {
    font-family: 'VT323', monospace;  
    font-size: 25px;
    color: white;
}

#details {
    font-family: 'VT323', monospace;  
    font-size: 25px;
    color: white;
}

#take-care {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
}


#hunger-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
}

#play-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
}

#sleep-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
}

#age-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: white;
}



progress {
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: azure;
    width: 250px;
    height: 18px;
    border: solid 3pt lightcyan;
    border-radius: 2px;
    
}



button {
    background-color: rgb(168, 129, 184);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(119, 77, 124);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    outline: none;
    
    
}

button:active, button:hover {
    background: lightcyan;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: 0 5px cyan;
    outline: none;
    transform: translateY(3px);
    color: black;
}


.gameplay-buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}




#game-stats {
   width: 25%;
   margin: auto;
}



html { 
    background: url() no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: lightsteelblue;
}

