.tama-img {
    background-color: rgb(132, 124, 180);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%
}

.w3-circle {
    height: 250px;
}




#heading {
    font-family: 'VT323', monospace;  
    font-size: 25px;
    color: purple;
    transition: all 2s ease-in-out;
    background-color: cadetblue;
    background-size: cover;
    display: block;
    padding-bottom: 2px;
    
}


#pet-name {
    font-family: 'VT323', monospace;  
    font-size: 25px;
    color: purple;
    transition: all 2s ease-in-out;
    background-color: burlywood;
    padding-bottom: 10px;
}

#details {
    font-family: 'VT323', monospace;  
    font-size: 25px;
    color: purple;
    
}

.take-care {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: purple;
    text-align: center;
    background-color: rgb(189, 206, 176);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 10px;
    
}


#hunger-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: purple;
}

#play-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: purple;
}

#sleep-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: purple;
}

#age-status p {
    font-family: 'VT323', monospace;
    font-size: 25px;
    color: purple;
}



progress {
    -webkit-appearance: none;
}

::-webkit-progress-bar {
    background-color: azure;
    width: 250px;
    height: 18px;
    border: solid 3pt lightcyan;
    border-radius: 2px;
    
}

button {
    background: linear-gradient(rgb(67, 110, 151), rgb(164, 155, 189));
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px rgb(119, 77, 124);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    outline: none;
    font-family: 'VT323', monospace;
    opacity: 1;
    transition: all 1s ease-in-out;
}



button:active, button:hover {
    background: lightcyan;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: 0 5px cyan;
    outline: none;
    transform: translateY(3px);
    color: black;
    opacity: 1;
}


.btn-group {
    border: 2px solid black;   
    border-width: thick;
    background: linear-gradient(black, pink);
    background-position: center;
    background-size: cover;
    border-collapse: separate;
    border-spacing: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height:30px;
    padding-bottom: 10px;
    padding-top: 5px;
}




.game-stats {
    text-align: center;
    background-color: plum;
    background-size: cover;
    padding-bottom: 5px;
}



